       background-image: url(https://cdn.freerunce.ru/iblock/f59/f59d6ddada8407fa5b81b187e442d022/1392044_1557840356.jpg);
                background-repeat: no-repeat;
                color: white;
                font-size: 18px;
            }
         
		 du{
		width:500px;
		height:600px;
			 
			 
			 
			 
		 }
		 #styl{
			 width:400px;
			 height:500px;
			 
			 
			 
		 }
		 
		 
		 
		 
            
           img{
                width: 200px;
                height: 230px;
            }
		
		
		.nikname{
                width: 765px;
            }
            fieldset{
                height: 350px;
                background: gray;
                display: inline-block;
            }
            .assasin{
                border: 3px solid red;
            }
            select{
                background: green;
                width: 160px;
                height: 30px;
                border: 2px solid white;
                font-family: cursive;
                font-size: 16px;
            }
            .more{
                height:auto;
            }
			button{
                width: 150px;
                height: 35px;
                background-color: goldenrod;
                border: 2px solid blue;
                border-radius: 10px;
                color: white;
                font-size: 18px;
            }
            button:hover{
                background-color: purple;
                color: yellow;
		} 
                
               